
aside.sidebar {
    position: fixed;
    height: 100%;
    padding: 32px 24px; /* 3.2rem 2.4rem; */
    background: #15c3d6;
  
    display: flex; /* deixa as caixas uma ao lado da outra */
    flex-direction: column; /* deixa as caixas uma em cima da outra */
    justify-content: space-between; /* dá um espaço entre as caixas */
    align-items: center;
  }
  
  aside.sidebar footer button {
    width: 48px;
    height: 48px;
    border: none;
    background: #12afcb;
    border-radius: 1.6rem;
    cursor: pointer; /* quando passa o mouse em cima muda aspecto do cursor para mãozinha */
  
    display: flex;
    align-items: center;
    justify-content: center;
  
    transition: background-color 0.2s;
  }
  
  aside.sidebar footer button:hover {
    background: #17d6eb;
  }
  
  .with-sidebar {
    padding-left: 110px; /*afasta as fotos do orfanato do sidebar */
  }
  